// Light-mode colors
$max-color: #eeecda;
$eighty-color: #f08a5d;
$twenty-color: #b83b5e;
$min-color: #6a2c70;

// Dark-mode colors
$dark-max-color: #0f3057;
$dark-eighty-color: #00587a;
$dark-twenty-color: #008891;
$dark-min-color: #e7e7de;

// Fonts
$banner-font: 'Montserrat Subrayada', sans-serif;
$title-font: 'Montserrat', sans-serif;
$body-font: 'Raleway', sans-serif;

// Color shortcuts
@mixin bg-max-color {
    background-color: $max-color;
    @media (prefers-color-scheme: dark) {
        background-color: $dark-max-color;
    }
}
@mixin max-color { 
    color: $max-color;
    @media (prefers-color-scheme: dark) {
        color: $dark-max-color;
    }
}

@mixin bg-eighty-color {
    background-color: $eighty-color;
    @media (prefers-color-scheme: dark) {
        background-color: $dark-eighty-color;
    }
}
@mixin eighty-color { 
    color: $eighty-color;
    @media (prefers-color-scheme: dark) {
        color: $dark-eighty-color;
    }
}

@mixin bg-twenty-color {
    background-color: $twenty-color;
    @media (prefers-color-scheme: dark) {
        background-color: $dark-twenty-color;
    }
}
@mixin twenty-color { 
    color: $twenty-color;
    @media (prefers-color-scheme: dark) {
        color: $dark-twenty-color;
    }
}

@mixin bg-min-color {
    background-color: $min-color;
    @media (prefers-color-scheme: dark) {
        background-color: $dark-min-color;
    }
}
@mixin min-color { 
    color: $min-color;
    @media (prefers-color-scheme: dark) {
        color: $dark-min-color;
    }
}