---
---

@import 'util';
@import 'base';

@include desktop-content {

    body {
        margin: 0px;

        @include bg-max-color;
        @include min-color;
        font-size: 12pt;
        font-weight: 400;
        font-family: $body-font;
    }

    a {
        @include min-color;
        @include dark-mode-property(text-decoration-color, $min-color-transparent, $max-color-transparent);
        text-decoration: underline;
        &:hover {
            @include dark-mode-property(text-decoration-color, $min-color, $max-color);
        };
    }

    header {
        h1 {
            width: 100vw;
            padding: 35px 35px 0px;
            margin: 0px;
            box-sizing: border-box;
            
            display: flex;
            justify-content: space-between;

            font-family: $title-font;
            font-size: 24pt;
            font-style: italic;
            font-weight: 100;

            a {
                @include min-color;
                text-decoration: none;
                &:hover {
                    @include dark-mode-property(text-decoration-color, $min-color, $max-color);
                    text-decoration: underline;
                }
            }
        }

        h2 {
            min-height: 250px;
            width: 100vw;
            padding: 0px 35px 0px;
            margin: 5px 0px 0px;
            box-sizing: border-box;
            position: relative;

            display: flex;
            justify-content: start;
            align-items: center;

            @include dark-mode-property(
                background-image, 
                url('../imgs/banner.jpg'), 
                url('../imgs/banner-dark.jpg'));
            background-size: cover;
            background-position: center;

            text-shadow: 1px 2px 5px $min-color-transparent;
            font-family: $title-font;
            font-size: 32pt;
            font-weight: 900;

            div#quote{
                a {
                    @include max-color;
                    text-decoration: none;
                    &:hover {
                        @include dark-mode-property(text-decoration-color, $max-color, $min-color);
                        text-decoration: underline;
                    }
                }
            }

            div#credit {
                position: absolute;
                right: 5px;
                bottom: 2px;

                text-shadow: none;
                font-family: $body-font;
                font-size: 10pt;
                font-style: italic;
                font-weight: 100;

                a {
                    @include max-color;
                    text-decoration: none;
                    &:hover {
                        @include dark-mode-property(text-decoration-color, $max-color, $min-color);
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    nav {   
        max-width: 600px;
        margin: 15px auto auto; 

        display: flex;
        justify-content: space-evenly;

        font-style: italic;
        font-weight: 100;

        a {
            @include min-color;
            text-decoration: none;
            &:hover {
                @include dark-mode-property(text-decoration-color, $min-color, $max-color);
                text-decoration: underline;
            }
        }
    }

    main {
        max-width: 600px;
        margin: 45px auto 35px;

        .italics {
            font-style: italic;
        }
    }
}
