body {
    background: white;
}

.lead-in {
    /* Placement */
    position: absolute;
    top: 8px;
    width: 100vw;
    text-align: center;

    /* Text */
    color: #999999;
    font-size: 12pt;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.first-stanza {
    /* Placement */
    height: 98vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-stanza img {
    height: 60vh;
    width: 60vw;
    object-fit: cover;
    border: solid white 1px;
    margin-bottom: 6px;
    filter: invert(1);
}

.first-stanza h1 {
    width: 60vw;

    /* Text */
    color: black;
    font-size: 16pt;
    font-family: 'Montserrat', sans-serif;
}


/* Dark mode modifications */

@media (prefers-color-scheme: dark) {

    body {
        background: black;
    }

    .lead-in {
        color: #666666;
    }

    .first-stanza img {
        filter: invert(0);
    }

    .first-stanza h1 {
        color: white;
    }

}