body {
    background: white;
    color: black;
}

a {
    color: #666666;
    text-decoration-style: solid;
}

/* Main site title/switcher */

.VEH {
    /* Placement */
    position: absolute;
    top: 8px;
    width: 100vw;
    text-align: center;

    /* Text */
    color: #999999;
    font-size: 12pt;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

/* Lead scene */

.COM {
    /* Placement */
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.COM img {
    height: 60vh;
    width: 60vw;
    object-fit: cover;
    border: solid 1px;
    margin-bottom: 6px;
    filter: invert(1);
}

.COM h1 {
    width: 60vw;

    /* Text */
    font-size: 16pt;
    font-family: 'Montserrat', sans-serif;
}

/* Bio & Links */

.LIF {
    /* Placement */
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LIF img {
    height: 100px;
    width: 60vw;
    object-fit: cover;
    border: solid 1px;
    filter: invert(1);
}

.LIF p {
    width: 60vw;

    /* Text */
    font-size: 12pt;
    font-family: 'Lato', sans-serif;
}


/* Dark mode modifications */

@media (prefers-color-scheme: dark) {

    body {
        background: black;
        color: white;
    }

    a {
        color: #999999;
    }

    .VEH {
        color: #666666;
    }

    .COM img {
        filter: invert(0);
    }

    .LIF img {
        filter: invert(0);
    }

}