---
---

@import 'util';
@import 'base';

@include desktop-content {

    body {
        margin: 0px;

        @include bg-max-color;
        @include min-color;
        font-size: 12pt;
        font-weight: 400;
        font-family: $body-font;
    }

    a {
        @include min-color;
        @include dark-mode-property(text-decoration-color, $min-color-transparent, $max-color-transparent);
        text-decoration: underline;
        &:hover {
            @include dark-mode-property(text-decoration-color, $min-color, $max-color);
        };
    }

    header {
        width: 100vw;
        height: 100px;
        padding: 10px 35px 0px;
        box-sizing: border-box;
        
        display: flex;
        justify-content: start;
        align-items: center;

        h1 {
            height: fit-content;
            margin: 0px;
            
            font-family: $title-font;
            font-size: 48pt;
            font-style: italic;
            font-weight: 900;

            a {
                @include dark-mode-property(
                    background-image, 
                    url('../imgs/banner.jpg'), 
                    url('../imgs/banner-dark.jpg'));
                background-size: cover;
                background-position: center;
                
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;

                text-decoration: none;
                &:hover {
                    @include dark-mode-property(text-decoration-color, $min-color, $max-color);
                    text-decoration: underline;
                }
            }
        }

        div#nav {   
            width: 350px;
            height: fit-content;
            margin-left: 35px;
            
            display: flex;
            justify-content: space-between;

            font-style: italic;
            font-weight: 100;
    
            a {
                @include min-color;
                text-decoration: none;
                &:hover {
                    @include dark-mode-property(text-decoration-color, $min-color, $max-color);
                    text-decoration: underline;
                }
            }
        }
    }

    main {
        // Common
        div.page {
            max-width: 600px;
            margin: auto auto 45px;

            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        div.title {
            width: 100%;
            margin-top: 45px;

            font-family: $title-font;
            font-size: 18pt;
            font-weight: 900;
        }

        // List pages (projects.html, writing.html, links.html)
        div.list {
            div.temp {
                font-style: italic;
                font-weight: 100;
            }

            div.desc {
                width: 100%;
                margin: 16px 0px 0px;
            }

            div.list-header {
                width: 100%;
                margin-top: 45px;

                font-size: 14pt;
                font-style: italic;
                font-weight: 100;
            }

            div.list-item {
                margin-top: 12px;
                padding: 16px;
                border-radius: 5px;
                @include dark-mode-property(background-color, $max-color-accent, $min-color-accent);

                div.item-title {
                    margin-bottom: 5px;

                    font-family: $title-font;
                    font-size: 14pt;
                    font-weight: 900;
                }

                div.item-desc {
                    margin-bottom: 5px;
                }
            }
        }

        // about.html
        div.about {
            div.title {
                a {
                    text-decoration: none;
                }
            }
            
            img {
                width: 600px;
                height: 400px;
                margin: 15px;
                box-sizing: border-box;

                object-position: top;
                object-fit: cover;
            }

            div.bio {
                margin: 16px 0px;
            }

            div.links {
                margin: 15px;

                display: flex;
                align-items: center;

                a {
                    width: 45px;
                    height: 45px;
                    margin: 0px 5px 0px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include max-color;

                    font-size: 18pt;
                    text-decoration: none;
                }

                a.fa-envelope {
                    @include dark-mode-property(background-color, #006466, #4CC9F0);
                }

                a.fa-twitter {
                    @include dark-mode-property(background-color, #0B525B, #4895EF);
                }

                a.fa-instagram {
                    @include dark-mode-property(background-color, #1B3A4B, #3F37C9);
                }

                a.fa-linkedin-in {
                    @include dark-mode-property(background-color, #272640, #560BAD);
                }

                a.fa-github {
                    @include dark-mode-property(background-color, #312244, #B5179E);
                }

                a.fa-strava {
                    @include dark-mode-property(background-color, #4D194D, #F72585);
                }
            }

            div.links + div.title {
                text-align: center;
            }

            div.credits {
                width: 100%;

                display: flex;
                flex-direction: column;
                align-items: center;

                div.credit {
                    width: 100%;

                    display: flex;

                    div.desc {
                        width: 50%;
                        padding-right: 5px;
                        box-sizing: border-box;

                        text-align: end;
                        font-style: italic;
                        font-weight: 100;
                    }

                    div.name {
                        width: 50%;
                        padding-left: 5px;
                        box-sizing: border-box;
                    }
                }

                div.line {
                    width: 100%;

                    text-align: center;
                    font-style: italic;
                    font-weight: 100;
                }
            }
        }
    }
}
