---
---
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,900;1,100;1,900&display=swap" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/mobile.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7e30230ee6.js" crossorigin="anonymous"></script>
    <title>tpsavard.net &bull; {{ page.title }}</title>
</head>
<body>
    <header>
        <h1><a href="/">tpsavard.net</a></h1>
        <div id="nav">
            <a href="/projects.html">Projects</a>
            &bull;
            <a href="/writing.html">Writing</a>
            &bull;
            <a href="/links.html">Links</a>
            &bull;
            <a href="/about.html">About</a>
        </div>
    </header>
    <main>
        {{ content }}
    </main>
</body>